* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 500px;
    height: 500px;
    background-color: #ccc;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    line-height: 1px;
    cursor: pointer;
}